#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0 0 20px 0;
}

.photograph-header h3 {
  font-size: 24px;
}

.photograph-header p {
  color: #525252;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* GALLERIE */

.galery-filters {
  margin: 40px 100px;
}

.galery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  row-gap: 20px;
  margin: 40px 100px;
}

.galery-section img {
  border-radius: 5px;
}

.galery-section .media-informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galery-section .media-informations h2 {
  color: #901c1c;
}

.galery-section .media-informations .likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.galery-section .media-informations .likes i,
.galery-section .media-informations .like-number {
  font-size: 24px;
  color: #901c1c;
}

.galery-section .media-informations .likes i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.banner {
  position: fixed;
  background-color: #db8876;
  bottom: 0;
  width: 300px;
  padding: 16px 24px;
  border-radius: 8px 8px 0 0;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner p {
  margin: 0;
  font-size: 16px;
}

.banner .likes-container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

/* FORMULAIRE */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
