#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0 0 20px 0;
}

.photograph-header h3 {
  font-size: 24px;
}

.photograph-header q {
  color: #525252;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 40px; */
}

/* GALLERIE */

.galery-filters {
  margin: 40px 100px;
}

.galery-filters select {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  /* appearance: none; */ /* Supprime aussi le chevron */
}

.galery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  row-gap: 32px;
  margin: 40px 100px;
}

.galery-section figure {
  width: 24%;
}

.galery-section img,
.galery-section video {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.galery-section img:hover {
  cursor: pointer;
}

.galery-section li img:hover {
  animation-duration: 300ms;
  opacity: 80%;
}

.galery-section h {
  border-radius: 5px;
}

.galery-section .media-informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galery-section .media-informations h2 {
  color: #901c1c;
}

.galery-section .media-informations .likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.galery-section .media-informations .likes i,
.galery-section .media-informations .like-number {
  font-size: 24px;
  color: #901c1c;
}

.galery-section .media-informations .likes i:hover {
  color: #901c1cc2;
}

.galery-section .media-informations .likes .like-button[data-active="true"] i {
  color: #901c1c;
}

.galery-section .media-informations .likes .like-button[data-active="false"] i {
  color: #901c1c4f;
}

.galery-section .media-informations .likes i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.banner {
  position: fixed;
  background-color: #db8876;
  bottom: 0;
  width: 300px;
  padding: 16px 24px;
  border-radius: 8px 8px 0 0;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
}

.banner p {
  margin: 0;
  font-size: 16px;
}

.banner .likes-container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

/* FORMULAIRE */

#contact_modal {
  background-color: #201b1b94;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 48px 32px 48px;
  margin: 3% auto;
  position: relative;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header h {
  cursor: pointer;
}

.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

.modal img {
  fill: white;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 20px;
  margin-bottom: 4px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 16px;
}

form input,
form textarea {
  width: 98%;
  max-width: 98%;
  height: 48px;
  border: none;
  border-radius: 5px;
}

/* LIGHT-BOX */

.light-box-section {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 999;

  justify-content: space-between;
  align-items: center;

  /* display: grid; */
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 16fr 1fr;
}

.light-box-section i {
  padding: 24px;
  font-size: 42px;
  color: #901c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-box-section figcaption {
  font-size: 24px;
}

.light-box-section .fa-chevron-left {
  grid-column: 1;
  grid-row: 3;
}

.light-box-section .fa-chevron-right {
  grid-column: 3;
  grid-row: 3;
}

.light-box-section .fa-times {
  position: absolute;
  top: 2%;
  right: 1%;
}

.light-box-section .media {
  height: 100%;
  width: 100%;
  /* background-color: whitesmoke; */
  grid-column: 2;
  grid-row: 2 / 4;
}

.light-box-section img {
  object-fit: contain;
}

.light-box-section figcaption {
  padding: 12px 0;
  grid-column: 2;
  grid-row: 4;
}
