@import url("photographer.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

h2 {
  color: #d3573c;
}

h3,
figcaption {
  font-size: 13px;
  color: #901c1c;
}

q {
  text-decoration: none;
  quotes: none;
}

p,
q {
  font-size: 10px;
  color: #000000;
}

span {
  font-size: 9px;
  color: #757575;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

button {
  border: none;
  background: none;
}

li {
  list-style: none;
}

i:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer-portrait {
  height: 200px;
  width: 200px;
  border-radius: 99px;
  box-shadow: 0 4px 12px #00000025;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 60px; */
  margin-top: 60px;
}

.photographer_section article {
  /* justify-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.photographer_section article:hover {
  background-color: #f4f4f483;
}

.photographer_section article h2 {
  font-size: 36px;
  text-align: center;
  margin: 24px 0 0 0;
}

.photographer_section article,
h3,
q {
  margin: 0 0 4px 0;
}
